/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/docker
.env
.env.backup
.phpunit.result.cache
.dockerignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/datadir/#ib_16384_0.dblwr
docker/mysql/datadir/role_app/migrations.ibd
docker/mysql/datadir/#ib_16384_0.dblwr
.gitignore
.gitignore
.gitignore
docker/mysql/datadir/mysql.ibd
.gitignore
docker/mysql/datadir/undo_002
